<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/450757e8dc.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  {% import "bootstrap/wtf.html" as wtf %}
  {{ moment.include_jquery() }}
  {{ moment.include_moment() }}
  <title>The Genealogy App</title>

</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert alert-warning alert-dismissible" role="alert">  <ul class=flashes>
  {% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
  {% endif %}
  {% endwith %}
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="navbar-nav">
    <a class="nav-item nav-link" href="{{ url_for('index') }}">Home</a>
    <a class="nav-item nav-link" href="{{ url_for('individual_list') }}">List</a>
  </div>

</nav>

{% block content %}



{% endblock %}
</body>
</html>
