{% extends "base.html" %}
{% block content %}

<form method="POST" class="col-md-12">
    {{form.hidden_tag()}}
    <div class="container mt-5">
        <br>
        <div class="row py-2">
            <div class="col-sm-4">
                {{ wtf.form_field(form.individual_forenames, class='form-control') }}
            </div>
            <div class="col-sm-4">
                {{ wtf.form_field(form.individual_surname, class='form-control') }}
            </div>
        </div>
        <div class="row py-2">
            <div class="col-sm-1">Gender</div>
            <div class="col-sm-4  w-auto">
                <select name="individual_gender" class="form-select" aria-label="Default select example">
                    {% if edit_individual %}
                    {% for gender in genders %}
                    {% if individual.gender == gender %}
                    <option selected value="{{ gender }}">{{ gender }}</option>
                    {% else %}
                    <option value="{{ gender }}">{{ gender }}</option>
                    {% endif %}
                    {% endfor %}
                    {% elif (role == "patgrandfather" or role == "matgrandfather" or role == "father" or
                        role == "motherspartner") %}
                    <option selected value="{{ gender }}">Male</option>
                    {% elif (role == "patgrandmother" or role == "matgrandmother" or role == "mother" or
                        role == "fatherspartner") %}
                    <option selected value="{{ gender }}">Female</option>
                    {% else %}
                    {% for gender in genders %}
                    <option value="{{ gender }}">{{ gender }}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-sm-3 w-auto">
                {{ wtf.form_field(form.individual_dob, class='form-control w-auto') }}
            </div>
            <div class="col-sm-7 w-auto">
                {{ wtf.form_field(form.individual_birth_location, class='form-select w-auto') }}
            </div>
            <!-- Button trigger modal -->
            <div class="col-sm-2 w-auto align-self-end mb-0">
                <a class="link-success" href="" id="birth_location" data-bs-toggle="modal"
                   data-bs-target="#addlocation">Add new location</a>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-sm-3 w-auto">
                {{ wtf.form_field(form.individual_dod, class='form-control w-auto') }}
            </div>
            <div class="col-sm-7 w-auto">
                {{ wtf.form_field(form.individual_death_location, class='form-select w-auto') }}
            </div>
            <!-- Button trigger modal -->
            <div class="col-sm-2 w-auto align-self-end mb-0">
                <a class="link-success" href="" id="death_location" data-bs-toggle="modal"
                   data-bs-target="#addlocation">Add new location</a>
            </div>
        </div>
    </div>
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary mx-auto" type="submit" name="saveindividual" value="Save">Save</button>
    </div>
    <br>


    <!-- Modal -->
    <div class="modal fade" id="addlocation" tabindex="-1" aria-labelledby="addLocationLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLocationLabel">Add location</h5>
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                            aria-label="Close"></button>-->
                </div>
                <div class="modal-body">
                    <input type="hidden" name="type" id="type" value=""/>
                    <div class="container-fluid">
                        <div class="form">
                            <div class="row mb-3">
                                <div class=col-md-12" id="address">
                                    {{ wtf.form_field(form.location_address, class='form-control', ) }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 mb-2">
                                    {{ wtf.form_field(form.location_parish, class='form-control') }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 mb-2">
                                    {{ wtf.form_field(form.location_district, class='form-control') }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 mb-2">
                                    {{ wtf.form_field(form.location_townorcity, class='form-control') }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 mb-2">
                                    {{ wtf.form_field(form.location_county, class='form-control') }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 mb-2">
                                    {{ wtf.form_field(form.location_country, class='form-control') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id = "btnaddlocation" value="Add" name="addlocation"/>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    var eventType = "";
    var birthlocation = document.getElementById('individual_birth_location');
    var deathlocation = document.getElementById('individual_death_location');

    document.getElementById('birth_location').onclick = function() {
    eventType = "birth";
    console.log(eventType);
    }

    document.getElementById("death_location").onclick = function() {
    eventType = "death";
    console.log(eventType);
    }

    document.getElementById('btnaddlocation').onclick = function() {

    if (eventType === 'birth') {
        len = document.getElementById('individual_birth_location').options.length
        console.log("Trying to set birth location to " + len.toString());
        document.getElementById('individual_birth_location').value = len.toString();
        console.log("Done");
    } else if (eventType === "death") {
        document.getElementById('individual_death_location').value = deathlocation.options.length;
    }
    console.log("Script has executed, but trying again....")
    document.getElementById('individual_birth_location').value = birthlocation.options.length.toString();
    console.log("Tried again")
    }

</script>
{% endblock %}