{% extends "base.html" %}
{% block content %}

<form method="POST" class="col-md-12">
    {{form.hidden_tag()}}
    <div class="container mt-5">
        <br>
        <div class="row py-2">
            <div class="col-sm-4">
                {{ wtf.form_field(form.individual_forenames, class='form-control') }}
            </div>
            <div class="col-sm-4">
                {{ wtf.form_field(form.individual_surname, class='form-control') }}
            </div>
        </div>
            <div class="row py-2">
        <div class="col-sm-1">Gender</div>
        <div class="col-sm-4  w-auto">
            <select name="individual_gender" class="form-select" aria-label="Default select example">
                {% if edit_individual %}
                {% for gender in genders %}
                {% if individual.gender == gender %}
                <option selected value="{{ gender }}">{{ gender }}</option>
                {% else %}
                <option value="{{ gender }}">{{ gender }}</option>
                {% endif %}
                {% endfor %}
                {% else %}
                <option value="{{ gender }}">{{ gender }}</option>
                {% endif %}
            </select>
        </div>
    </div>
        <div class="row py-2">
            <div class="col-sm-4 w-auto">
                {{ wtf.form_field(form.individual_dob, class='form-control w-auto') }}
            </div>
            <div class="col-sm-8 w-auto">
                {{ wtf.form_field(form.individual_birth_location, class='form-select w-auto') }}
            </div>
        </div>

        <div class="row py-2">
            <div class="col-sm-4 w-auto">
                {{ wtf.form_field(form.individual_dod, class='form-control w-auto') }}
            </div>
            <div class="col-sm-8 w-auto">
                {{ wtf.form_field(form.individual_death_location, class='form-select w-auto') }}
            </div>
        </div>
    </div>
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary mx-auto" type="submit" name="saveindividual" value="Save">Save</button>
    </div>
</form>

{% endblock %}