{% extends "base.html" %}
{% block content %}

<table class="table">
    <thead>
    <tr class="table-info">
        <th scope="col">ID</th>
        <th scope="col">Surname</th>
        <th scope="col">Forenames</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Date of death</th>
    </tr>
    </thead>
    <tbody>
    {% for individual in individuals %}
    <tr>
        <th scope="row">{{ individual.id}}</th>
        <td>{{ individual.surname }}</td>
        <td>{{ individual.forenames }}</td>
        <td>{{ individual.gender }}</td>
        {% if individual.dob %}
        <td>{{ individual.dob | datedisplay }}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if individual.dod %}
        <td>{{ individual.dod | datedisplay }}</td>
        {% else %}
        <td></td>
        {% endif %}
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}