{% extends "base.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr class="table-info">
        <th scope="col">ID</th>
        <th scope="col">Actions</th>
        <th scope="col">Surname</th>
        <th scope="col">Forenames</th>
        <th scope="col">Gender</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Date of death</th>
        <th style="text-align: center">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for individual in individuals %}
    <tr>
        <th>{{ individual.id}}</th>
        <td><a class="btn btn-info" href="{{ url_for( 'edit_individual', context='indlist', id=individual.id ) }}">
            Edit</a></td>
        <td>{{ individual.surname }}</td>
        <td>{{ individual.forenames }}</td>
        <td>{{ individual.gender }}</td>
        {% if individual.dob %}
        <td>{{ individual.dob | datedisplay }}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if individual.dod %}
        <td>{{ individual.dod | datedisplay }}</td>
        {% else %}
        <td></td>
        {% endif %}
        {% if individual.age %}
        <td align="center">{{ individual.age }}</td>
        {% else %}
        <td style="text-align: center">&nbsp;</td>
        {% endif %}
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}