{% extends "base.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr class="table-info">
        <th scope="col">ID</th>
<!--        <th scope="col">Actions</th>-->
        <th scope="col">Address</th>
        <th scope="col">Parish (Church)</th>
        <th scope="col">District or Area</th>
        <th scope="col">Town or City</th>
        <th scope="col">County</th>
        <th scope="col">Country</th>
    </tr>
    </thead>
    <tbody>
    {% for location in locations %}
    <tr>
        <th>{{ location.id}}</th>
        <td>{{ location.address }}</td>
        <td>{{ location.parish }}</td>
        <td>{{ location.district }}</td>
        <td>{{ location.townorcity }}</td>
        <td>{{ location.county }}</td>
        <td>{{ location.country }}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}